<% if user_signed_in? %>
  <header>
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </header>
  <div class="container margin-top">
    <div class="row">
      <aside class="col-md-3 col-padding-7">
        <div class="inner-box">
          <section class="micropost_form">
            <%= render 'shared/nanopost_form' %>
          </section>
        </div>
      </aside>
      <div class="col-md-6 col-padding-7">
        <div class="inner-box">
          <h3>글 목록</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
      <div class="col-md-3 col-padding-7">
        <div class="inner-box">
          <% if Rails.env.development? %>
            <p>내 이곳에 무엇가를 넣겠소.</p>
          <% end %>
        </div>
      </div>
    </div>
    <%= will_paginate @feed_items %>
  </div>
<% else %>
  <header>
    <h1>다섯 글자로 나누는 이야기</h1>

    <h2>
      장황한 말대신 다섯 글자로 당신의 이야기를 전해보세요, 5NS.
    </h2>

    <%= link_to "지금 가입하세요!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </header>
<% end %>