<% provide(:title, @title) %>
<header>
  <section class="user_info">
    <%= render 'shared/user_info' %>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>
</header>
<div class="container margin-top margin-bottom">
  <div class="row">
    <aside class="col-md-3 col-padding-7">
      <div class="inner-box">
        <section class="stats">
          <% if @users.any? %>
            <div class="user_avatars">
              <% @users.each do |user| %>
                <%= link_to gravatar_for(user, size: 30), user %>
              <% end %>
            </div>
          <% end %>
        </section>
      </div>
    </aside>
    <div class="col-md-6 col-padding-7">
      <div class="inner-box">
        <h3><%= @title %></h3>
        <% if @users.any? %>
          <ul class="users follow">
            <%= render @users %>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-padding-7">
      <div class="inner-box">
        
      </div>
    </div>
  </div>
  <%= will_paginate %>
</div>