<li id="nanopost-<%= nanopost.id %>">
  <%= link_to gravatar_for(nanopost.user, size: 50), nanopost.user %>
  <span class="user"><%= link_to nanopost.user.name, nanopost.user %></span>
  <span class="content">
    <%= nanopost.content %>
    <div id="like-form-<%= nanopost.id %>">
      <%= render 'nanoposts/like_form', nanopost: nanopost %>
    </div>
    <% if nanopost.picture? %>
      <span class="content-image">
        <%= link_to nanopost.picture.url, class: "image-link" do %>
          <%= image_tag nanopost.picture.url, class: "img-responsive" %>
        <% end %>
      </span>
    <% end %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(nanopost.created_at) %> 전에 작성
    <% unless request.fullpath == nanopost_path(nanopost) %>
      <a href="<%= nanopost_path(nanopost) %>" class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-pencil"></span> <%= nanopost.comments.count %>
      </a>
    <% end %>
    <% if current_user == nanopost.user %>
      <%= link_to "삭제", nanopost, method: :delete,
                                      data: { confirm: "정말 삭제하시겠습니까?" } %>
    <% end %>
  </span>
</li>